.sider
    .inner-menu
        ul 
            li
                a(href=`/${ADMIN_PATH}/dashboard`) Tổng quan

                li
                    a(href=`/${ADMIN_PATH}/products`) Sản phẩm

                li
                    a(href=`/${ADMIN_PATH}/product-category`) Danh mục sản phẩm

                li
                    a(href=`/${ADMIN_PATH}/roles`) Nhóm quyền

                li
                    a(href=`/${ADMIN_PATH}/roles/permissions`) Phân quyền

                li
                    a(href=`/${ADMIN_PATH}/accounts`) Tài khoản
            li
                a(href=`/${ADMIN_PATH}/settings/general`) Cài đặt chung